<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.yaat.sidecar</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/yaat-sidecar</string>
        <string>--config</string>
        <string>/usr/local/etc/yaat/yaat.yaml</string>
        <string>--log-file</string>
        <string>/usr/local/var/log/yaat/sidecar.log</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>StandardOutPath</key>
    <string>/usr/local/var/log/yaat/sidecar.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/yaat/sidecar.stderr.log</string>

    <key>WorkingDirectory</key>
    <string>/usr/local/var/lib/yaat</string>

    <key>ProcessType</key>
    <string>Background</string>

    <key>Nice</key>
    <integer>0</integer>
</dict>
</plist>
